# File Load

In [9]:
import pandas as pd

In [ ]:
accounts_df = pd.read_excel("data/kospi_kosdaq.xlsx", sheet_name="accounts", header=6)
accounts_df.head()

,Symbol,Name,결산월,종류,계정,계정명,주기,1981,1982,1983,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,A005930,삼성전자,12.0,NFS-IFRS(C),6000901001,총자산(백만원),NaN,290913.632,387369.573,412518.134,...,262174324,301752090,339357244,352564497,378235718,426621158,448424507,455905980,514531948,NaN
1,A005930,삼성전자,12.0,NF/R-IFRS(C),6000306003,ROA(당기순이익)(%),NaN,NaN,1.52,5.32,...,9.01,14.96,13.83,6.28,7.23,9.92,12.72,3.43,7.1,NaN
2,A005930,삼성전자,12.0,NF/R-IFRS(C),6000312001,ROE(당기순이익)(%),NaN,NaN,8.94,27.11,...,12.22,20.71,19.19,8.51,9.8,13.74,16.87,4.31,9,NaN
3,A005930,삼성전자,12.0,NF/R-IFRS(C),6001308008,ROIC(%),NaN,NaN,16.39,25.11,...,20.25,33.23,30.36,13.19,17.2,23.86,25.93,3.78,10.97,NaN
4,A005930,삼성전자,12.0,NFCF-IFRS(C),6000702004,EBIT(백만원),NaN,49047.407,50904.392,86573.263,...,29240672,53645038,58886669,27768509,35993876,51633856,43376630,6566976,32725961,NaN

In [11]:
industry_df = pd.read_excel("kospi_kosdaq.xlsx", sheet_name="industry", header=4)
industry_df.head()

,Symbol,Name,한국표준산업분류11차(대분류),한국표준산업분류11차(중분류),한국표준산업분류11차(소분류),한국표준산업분류코드11차(대분류),한국표준산업분류코드11차(중분류),한국표준산업분류코드11차(소분류)
0,A005930,삼성전자,제조업,"전자부품, 컴퓨터, 영상, 음향 및 통신장비 제조업",통신 및 방송 장비 제조업,C,26.0,264.0
1,A000660,SK하이닉스,제조업,"전자부품, 컴퓨터, 영상, 음향 및 통신장비 제조업",반도체 제조업,C,26.0,261.0
2,A373220,LG에너지솔루션,제조업,전기장비 제조업,일차전지 및 이차전지 제조업,C,28.0,282.0
3,A207940,삼성바이오로직스,제조업,의료용 물질 및 의약품 제조업,기초 의약 물질 제조업,C,21.0,211.0
4,A012450,한화에어로스페이스,제조업,기타 운송장비 제조업,"항공기, 우주선 및 부품 제조업",C,31.0,313.0

# Merge DataFrames

In [12]:
merged_df = pd.merge(accounts_df, industry_df, how="left", on=["Symbol", "Name"])
merged_df.head()

,Symbol,Name,결산월,종류,계정,계정명,주기,1981,1982,1983,...,2022,2023,2024,2025,한국표준산업분류11차(대분류),한국표준산업분류11차(중분류),한국표준산업분류11차(소분류),한국표준산업분류코드11차(대분류),한국표준산업분류코드11차(중분류),한국표준산업분류코드11차(소분류)
0,A005930,삼성전자,12.0,NFS-IFRS(C),6000901001,총자산(백만원),NaN,290913.632,387369.573,412518.134,...,448424507,455905980,514531948,NaN,제조업,"전자부품, 컴퓨터, 영상, 음향 및 통신장비 제조업",통신 및 방송 장비 제조업,C,26.0,264.0
1,A005930,삼성전자,12.0,NF/R-IFRS(C),6000306003,ROA(당기순이익)(%),NaN,NaN,1.52,5.32,...,12.72,3.43,7.1,NaN,제조업,"전자부품, 컴퓨터, 영상, 음향 및 통신장비 제조업",통신 및 방송 장비 제조업,C,26.0,264.0
2,A005930,삼성전자,12.0,NF/R-IFRS(C),6000312001,ROE(당기순이익)(%),NaN,NaN,8.94,27.11,...,16.87,4.31,9,NaN,제조업,"전자부품, 컴퓨터, 영상, 음향 및 통신장비 제조업",통신 및 방송 장비 제조업,C,26.0,264.0
3,A005930,삼성전자,12.0,NF/R-IFRS(C),6001308008,ROIC(%),NaN,NaN,16.39,25.11,...,25.93,3.78,10.97,NaN,제조업,"전자부품, 컴퓨터, 영상, 음향 및 통신장비 제조업",통신 및 방송 장비 제조업,C,26.0,264.0
4,A005930,삼성전자,12.0,NFCF-IFRS(C),6000702004,EBIT(백만원),NaN,49047.407,50904.392,86573.263,...,43376630,6566976,32725961,NaN,제조업,"전자부품, 컴퓨터, 영상, 음향 및 통신장비 제조업",통신 및 방송 장비 제조업,C,26.0,264.0

In [ ]:
merged_df.to_csv("outputs/merged_accounts_data.csv", index=False)